<!-- Welcome to {{ title }}
<br />
Hello {{ user }}
<hr />
{{ product1.productId }} : {{ product1.productName }} :
{{ product1.unitPrice }} ₺
<ul>
  <li>Laptop</li>
  <li>Mouse</li>
  <li>Keyboard</li>
  <li>Table</li>
</ul>
<hr />
<table>
  <tr>
    <th>ProductId</th>
    <th>ProductName</th>
    <th>CategoryId</th>
    <th>UnitPrice</th>
  </tr>
</table>

<ul>
  <li *ngFor="let product of products">
    {{ product.productId }} {{ product.productName }} {{ product.categoryId }} {{product.unitPrice}} $
  </li>
</ul> -->
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <app-product></app-product>
      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>


